.vs
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
UpgradeLog*.htm
*.pyc
winpty.sdf
winpty.opensdf
/config.mk
/build
/build-gyp
/build-libpty
/ship/packages
/ship/tmp
/src/Default
/src/Release
/src/gen
