*               text=auto
*.c             text
*.cc            text
*.cmd           text eol=crlf
*.gyp           text
*.gypi          text
*.h             text
*.mk            text
*.ps1           text eol=crlf
*.rst           text
*.sh            text eol=lf
*.txt           text
*.yml           text
.gitignore      text
.gitattributes  text
Makefile        text
VERSION.txt     text eol=lf
configure       text eol=lf
